.flaticon-001-edit:before {
	content: "\e001";
}
.flaticon-002-stacked-layers:before {
	content: "\e002";
}
.flaticon-003-gear-option:before {
	content: "\e003";
}
.flaticon-004-files-and-folders:before {
	content: "\e004";
}
